---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Characters">
    <h2>DC Characters</h2>
    <p>DC Characters examples</p>
    <ul>
        <li>Batman</li>
        <li>Superman</li>
        <li>Wonder Woman</li>
        <li>The Flash</li>
        <li>Green Lantern</li>
        <li>Joker</li>
    </ul>
</Layout>
