---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Comics">
    <h2>DC Comics</h2>
    <p>Examples of DCU Comics</p>
    <ul>
        <li>Batman: Year One</li>
        <li>Wonder Woman: The Hiketeia</li>
        <li>The Flash: Rebirth</li>
        <li>Superman: Red Son</li>
        <li>Identity Crisis</li>
    </ul>
</Layout>
