---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Movies">
    <h2>DC Movies</h2>
    <p>DC Movies Examples</p>
    <ul>
        <li>The Dark Knight</li>
        <li>Wonder Woman</li>
        <li>Batman v Superman: Dawn of Justice</li>
        <li>Suicide Squad</li>
        <li>Man of Steel</li>
    </ul>
</Layout>
