---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="stylesheet" href="/astro-project/styles.css">
</head>
    <nav>
    <a href="/astro-project/movies">Movies</a>
    <a href="/astro-project/characters">Characters</a>
    <a href="/astro-project/comics">Comics</a>
</nav>
    <img src="/astro-project/image5.png" class="image5" />
<body>
    </header>
    <main>
        <slot />
    </main>
</body>
<footer>
        <h1>Student Details</h1>
        <p>Name: Dearbhla Cunnion</p>
    </footer>
</html>
